
* {
  all: unset;
}

window {
  background-color: #121212;
	color: #ffd5cd;
  font-family:JetBrainsMono NF ExtraBold ;
}
.time-side {
  margin: 20px 65px 0px 65px;
  font-size: 60px;
}
.minute-side {
  color: #D35D6E;
  padding-left: 10px;
}
.day-side {
  font-size: 25px;
  font-weight: bold;
  color: #90c861;
}
.number_day {
  padding-top: 5px;
  font-size: 35px;
  color: #D35D6E;
}

.month {
  font-size: 20px;
  font-weight: bold;
}
.power_menu {
  font-family:JetBrainsMono NF ExtraBold ;
  font-size: 50px;
  padding: 8px;
}
.weather_info {
  font-family:JetBrainsMono NF ExtraBold ;
  font-size: 20px;
  padding: 8px;
}
.radial-bat-box {
 font-size: 50px;
  border-radius: 50;


padding: 1.5rem 2.3rem 1.5rem 2.3rem;
	margin: .5rem;
	border-radius: 2rem 0;
}
.radial-label-cpu
{
  font-size: 100px;
  font-family:JetBrainsMono NF ExtraBold ;
}
.radial-cpu-box {
 font-size: 50px;
color: #D35D6E;
padding: 1.5rem 2.3rem 1.5rem 2.3rem;
	margin: .5rem;
	border-radius: 2rem 0;
}
.radial-label-ram
{
  font-size: 100px;
  font-family:JetBrainsMono NF ExtraBold ;
}
.radial-label-ram
{
  font-size: 100px;
  font-family:JetBrainsMono NF ExtraBold ;
}
.radial-ram-box {
 font-size: 50px;
  color: #90c861;
padding: 1.5rem 2.3rem 1.5rem 2.3rem;
	margin: .5rem;
	border-radius: 2rem 0;
}
.radial-label-ram
{
  font-size: 100px;
  font-family:JetBrainsMono NF ExtraBold ;
}
.WeatherDesc 
{
  font-size: 60px;
  background-color: blue;
}
